body {
    background-color:#f2f2f2;
    color:#5327f2;
    font-family: "Montserrat", Tahoma, sans-serif;
}

h1 {
    margin-left: 30px;
    padding: 20px;
    
}
ul li {
    display: inline;
    border-style: solid;
    padding: 15px 60px;
    margin-right: 100px;

}
main {
    border-style: solid;
    width: 600px;
    height: 500px;
    position: fixed;
    right: 20px;
    margin-top: 30px;
    padding: 15px;
}

.box-1 {
    border-style: solid;
    width: 600px;
    height:200px;
    position: fixed;
    left: 30px;
    top: 200px;
    padding: 15px;

}

.box-2 {
    border-style: solid;
    width: 260px;
    height: 210px;
    position: fixed;
    left: 270px;
    top: 500px;
    padding: 15px;
    
}
.circle {
    background-color: #b7a7f2;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    position: fixed;
    bottom: 5px;
}

.circle:hover {
    background-color: black;
}

.box-1:hover {
    background-color: #6d49f2;
    color: white;
    border: none;
}

.box-2:hover {
    background-color: #9d85f2;
    color: white;
    border: none;
}

main:hover {
    background-color:#5327f2;
    color: white;
    border: none;
}

li:hover {
    background-color:#5327f2;
    color: white;
    border: none;
}